<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Chat Login</h2>

            % if error_display != 'none':
            <div class="error-message">
                {{error_display.replace('_', ' ')}}
            </div>
            % end

            <form action="/chat_room" method="POST">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Benutzername" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Passwort" required>
                </div>
                <button type="submit">Login</button>
            </form>
             <div class="login-links">
                <p>Noch keinen Account? <a href="/register" class="login-link">Jetzt registrieren</a></p>
            </div>
        </div>
    </div>
</body>
</html>